button,
.button {
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    margin-right: 8px;
    color: #fff;
}

input {
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
}